<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/add_card.css">
    </head>
    <body>
        <header style="margin: 0;">
            <nav class ="navbar">
                <ul class="nav_ul">
                    <li class="nav_item"><a class="nav_item_a" href="/dashboard">Home</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/decks">Decks</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/quiz_loader">Quiz</a></li>
                    <li class = "nav_item_logout"><button class="logout_button" onclick="window.location.href='/logout'" type="submit">Logout</button></li>
                </ul>
            </nav>
        </header>
        
        <div class = "dashboard_content">
        <h5 style="margin-left: 10px;" >Wlcome {{ user }} !</h5>
        <h2 style="margin-left: 10px;margin-bottom: 0px;" >Add card to <span style="color: #5596e6;">{{ deck[1] }}</span></h2>
        <hr>
        <form action="/cardapi/add" method="post">
            <input type="hidden" name="deck_id" value = {{ deck[0] }}>
            <label for="question">Question</label>
            <label for="answer">answer</label>
            <input type="text" name="question" required>
            <input type="text" name="answer" required>
            <input type="submit" name="submit" value="Add">


        </form>
        </div>
        
        
    </body>
</html>