<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ deck[1] }}
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/cards.css">
    </head>
    <body>
        <header style="margin: 0;">
            <nav class ="navbar">
                <ul class="nav_ul">
                    <li class="nav_item"><a class="nav_item_a" href="/dashboard">Home</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/decks">Decks</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/quiz_loader">Quiz</a></li>
                    <li class = "nav_item_logout"><button class="logout_button" onclick="window.location.href='/logout'" type="submit">Logout</button></li>
                </ul>
            </nav>
        </header>
        
        <div class = "dashboard_content">
        <h2 style="margin-left: 10px;margin-bottom: 0px;" >{{ deck[1] }} ({{ size }} cards)</h2>
        <button class="general_button" onclick="window.location.href='/{{ deck[0] }}/add_card'">Add card</button>
        <button class="general_button" onclick="window.location.href='/{{ deck[0] }}/delete_card'">Delete card</button>
        <button class="general_button" onclick="window.location.href='/{{ deck[0] }}/edit_deck'">Edit deck</button>
        <hr>
        </div>
        <div class="contents">
        <div style="margin-top: 10px;" class ="cards_display">
            {% for card in cards %}
                <div class="card">
                    <div class="container">
                    <h4 style="font-size: 25px;max-width: 150px;margin-left: auto;margin-right: auto;"><b>{{ card[1] }}</b></h4>
                    <p>{{ card[2] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
        
        
    </body>
</html>