<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/dashboard.css">
    </head>
    <body>
        <header style="margin: 0;">
            <nav class ="navbar">
                <ul class="nav_ul">
                    <li class="nav_item"><a class="nav_item_a" href="/dashboard">Home</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/decks">Decks</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/quiz_loader">Quiz</a></li>
                    <li class = "nav_item_logout"><button class="logout_button" onclick="window.location.href='/logout'" type="submit">Logout</button></li>
                </ul>
            </nav>
        </header>
        
        <div class = "dashboard_content">
        <h5 style="margin-left: 10px;" >Welcome {{ user }} !</h5>
        <h2 style="margin-left: 10px;margin-bottom: 0px;" >Dashboard</h2>
        <hr>
        <div class = "decks_content">
            
            <div style="margin-top: 10px;" class ="decks_display">
                <h5>Recently studied decks</h5>
            {% for i in range(size) %}
                <div class="deck" onclick="window.location.href='/deck/{{ decks[i][0] }}'">
                    <div class="container">
                    <h4 style="max-width: 150px;margin-left: auto;margin-right: auto;"><b>{{ decks[i][1] }}</b></h4>
                    <p>{{ decks[i][2] }}</p>
                    <p>Total points : {{ points[i] }}</p>
                    <p>Average score : {{ averages[i] }}</p>
                    <p>Last studied on {{ times[i][0] }}</p>
                    <p>Rating : {{ ratings[i] }}</p>
                    <img src="data:image/png;base64, {{ images[i] }}" style="height: 550px; width: 550px;">
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
        
    </body>
</html>