<!DOCTYPE html>
<html>
    <head>
        <title>
            Delete Deck
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/delete_decks.css">
    </head>
    <body>
        <header style="margin: 0;">
            <nav class ="navbar">
                <ul class="nav_ul">
                    <li class="nav_item"><a class="nav_item_a" href="/dashboard">Home</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/decks">Decks</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/quiz_loader">Quiz</a></li>
                    <li class = "nav_item_logout"><button class="logout_button" onclick="window.location.href='/logout'" type="submit">Logout</button></li>
                </ul>
            </nav>
        </header>
        
        <div class = "dashboard_content">
        <h2 style="margin-left: 10px;margin-bottom: 0px;" >Delete decks</h2>
        <hr>
        </div>
        <div class="contents">
        <div class ="cards_display">
            <form action="/deckapi/delete" method="post">
            <input class="entry" type="submit" name="submit" value="Delete">
            {% for deck in decks %}
                <div style= "margin-top: 10px;"class="card">
                    <div class="container">
                    <h4 style="font-size: 25px;max-width: 150px;margin-left: auto;margin-right: auto;"><b>{{ deck[1] }}</b></h4>
                    <p>{{ deck[2] }}</p>
                    </div>
                    <input style="width: 20px; height: 20px; float: left;" type="checkbox" name="to_delete" value={{ deck[0] }} />
                </div>
            {% endfor %}
            </form>
        </div>
    </div>
        
    </body>
</html>