<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
        <link rel="stylesheet" href="../static/error.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="centered_content">
            <img style="width: 300px; height: 300px;" src="../static/cheems.png" alt="crying cheems error page">
            <h1>An Error Occured :(</h1>
            <h2>The you requested could not be rendered</h2><br>
            <button class="entry">Go Back</button>
            <button class="entry">Go Home</button>
        </div>
    </body>
</html>