<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <div class = "login_block">
    <body>
        <button class = "entry" onclick="window.location.href='/signin'">Sign In</button>
        <br> 
        <button class = "entry" onclick="window.location.href='/signup'">Sign Up</button>
    <p style="margin-top: 300px;">Sourabh Warrier | 2021</p>
    </div>

    </body>
</html>