<!DOCTYPE html>
<html>
    <head>
        <title>
            Quiz
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/quiz.css">
        <script>
            function showans(){
                var ans = document.getElementById("ans");
                var b = document.getElementById("me");
                var option = document.getElementById("radios");
                ans.style.visibility = "visible";
                b.style.display = "none";
                option.style.display = "none";
            }
        </script>
    </head>
    <body>
        <header style="margin: 0;">
            <nav class ="navbar">
                <ul class="nav_ul">
                    <li class="nav_item"><a class="nav_item_a" href="/dashboard">Home</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/decks">Decks</a></li>
                    <li class="nav_item"><a class="nav_item_a" href="/quiz_loader">Quiz</a></li>
                    <li class = "nav_item_logout"><button class="logout_button" onclick="window.location.href='/logout'" type="submit">Logout</button></li>
                </ul>
            </nav>
        </header>
        
        <div class = "dashboard_content">
        <h2 style="margin-left: 10px;margin-bottom: 0px;" >Quiz</h2>
        <hr>
        <h2 style="margin-left: 10px;margin-bottom: 0px;" >{{ current+1 }}/{{ size+1 }}</h2>
        </div>
        <div class="quiz_body">
        <div class ="cards_display">
            <div class="card">
                <div class="container">
                <h4 style="font-size: 25px;max-width: 150px;margin-left: auto;margin-right: auto;"><b>{{ data[current][0][1] }}</b></h4>
                <p id="ans" style="visibility: hidden;">{{ data[current][0][2] }}</p>
                <button class="entry1" id="me" onclick="showans();">Show Answer</button>
            </div>
                
            </div>
        </div>
        <div style="text-align: center;">
            <form action="/quizapi/next" style="text-align:left" method="post">
                <input type="hidden" name = "current" value={{current}}>
                <input type="hidden" name = "card_id" value={{data[current][0][0]}}>
                <input type="hidden" name = "size" value={{size}}>
                <input type="hidden" name = "deck_id" value={{deck_id}}>
                <input type="hidden" name = "user_id" value={{user_id}}>
                <div id="radios" style="display: block;">
                {% for option in data[current][1] %}
                <div style="padding: 5px;">
                <input style = "width: 20px;height: 20px;"type="radio" name="option" value="{{option}}"><label>{{option}}</label>
                </div>
                <br>
                {% endfor %}
                </div>
                <input class="entry2" type="submit" value="Next" style="padding: 5px; margin: 10px; text-align: center;">
            </form>
        </div>
        </div>
        
    </body>
</html>